<%= form_for @gif, :remote => true do |f| %>
	<div class="col-lg-10" id="input_pad">
  <%= f.text_field :title, :placeholder => "Title", class: "form-control" %>
	</div>

  <div class="col-lg-10" id="input_pad">
  <%= f.text_field :link, :placeholder => "Image URL", class: "form-control"%>
	</div>

  <div class="col-lg-10 col-lg-offset-2" >
    <%= f.submit "Submit Gif", :class => "btn btn-primary" %>
	</div>
<% end %>
