<div class="container">
  <div id="index_view">

    <h2>Welcome to GIFS</h1>

      <p><%= render 'form' %></p>

      <% @gifs.each do |gif| %>
        <button type="button" class="btn_upvote">Upvote</button><%= link_to "#{gif.title}", gif_path(gif.id) %>
      <% end %>

  </div>
</div>
