<div class="container">
  <div id="index_view">


  <h2>Welcome to GIFS</h1>
  <p><%= render 'form' %></p>
  <ul>
    <% @gifs.each do |gif| %>
      <li>
        <%= button_to "Like", gif_votes_path(gif), :remote => true %>
        <%= link_to "#{gif.title}", gif_path(gif) %>
      </li>
    <% end %>
  </ul>

  </div>
</div>


