
<% if current_user %>
  <div class="container">
    <div class="well well-lg">
      <h3>Submit your own</h3>
      <p><%= render 'form' %></p>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="bs-example" id="header_bg">
      <div class="jumbotron">
        <h1 id="gif_header">Gif Overflow</h1>
        <div class="span12" style="text-align:center">Never read a stupid comment again.</div>
        <div class="span12" style="text-align:center" id="add_pad">
          <a class="btn btn-primary btn-lg" id="center_me" href="/signup">Show me the Gifs</a>
      </div>
      </div>
    </div>
  </div>
<% end %>


<div class="container">
  <div class="well well-lg">
    <h3>GIF Overload</h3>
    <ul class="index_gifs">
      <% @gifs.each do |gif| %>

      <%= render partial: 'postgif', locals: {gif: gif} %>

      <% end %>
    </ul>
  </div>
</div>



