* {
  margin: 0;
  padding: 0;
}

/*body {
  position: relative;
  width: 750px;
  margin: 0 auto;
}*/

/**** Nav Bar *************/

.nav {
  position: relative;
  width: 100%;
  /*display: block;*/
}

#company_name {
  display: inline;
}

header {
  display: inline;
}

.nav_list {
  position: absolute;
  top: 0;
  right: 0;
  display: inline;
  list-style: none;
}

#nav_item {
  display: inline;
}

/**** Index Page *************/

/*.index_view {
  position: absolute;
}
*/
/**** Index Page *************/

.container {
  position: absolute;
}
